table{

    border-style: double;
    color: darkcyan;
    width: auto;

}

th, td{

    border-style: groove;
    color: darkcyan;
    border-collapse: collapse;
    border-radius: 5px;

}

div{
    margin: 0 auto;
    width: 50%;
}